/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYMBOL_LAYER 1
#define NAV_LAYER 2

/ {
	behaviors {
	    td0: tap_dace_0 {
	        compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_0";
                #binding-cells = <0>;
                tapping-term-ms = <200>;
                bindings = <&kp LSHFT>, <&kp CAPS>;
	    };
	    td1: tap_dance_1 {
	        compatible = "zmk,behavior-tap-dance";
                label = "TAP_DANCE_1";
                #binding-cells = <0>;
                tapping-term-ms = <200>;
                bindings = <&kp ESC>, <&out OUT_TOG>;
	    };
	};
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  F   |  P   |  G   |                                          |  J   |  L    |  U    |  Y   |   ;   |   \     |
// |  LALT  |  A  |  R  |  S   |  T   |  D   |                                          |  H   |  N    |  E    |  I   |   O   |   Home  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | Ctrl | NAV     |  | R SHIFT | R SHIFT |  K   |  M    |  ,    |  .   |   /   | End	   |
//                     | C_PP  | GUI  | TAB  |  SPACE  |   L SHIFT  |  |   RET   |  SPACE  | BSPC  | RALT  | BT_NXT |
			bindings = <
	&td1   &kp Q &kp W &kp F &kp P &kp G                                                &kp J &kp L  &kp U     &kp Y   &kp SEMI    &kp BSLH
	&kp LALT   &kp A &kp R &kp S &kp T &kp D                                                &kp H &kp N  &kp E     &kp I   &kp O &kp HOME
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LCTRL &tog NAV_LAYER        &kp RSHFT &kp RSHFT &kp K &kp M  &kp COMMA &kp DOT &kp FSLH &kp END
	                 &kp C_PP &kp LGUI &lt SYMBOL_LAYER TAB &kp SPACE &td0        &kp RET  &kp SPACE  &kp BSPC &kp RALT &kp BT_NXT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};

		SYMBOL_LAYER {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  !  |  @  |  #   |  $   |  %   |                                          |  ^   |  &    |  *    |  _   |   ;   |   \  |
// |  TAB  |  `  |  ~  |  {   |  (   |  [   |                                          |  :   |  J    |  K    |  L   |   :   |   '  |
// | SHIFT |  <  |  >  |  }   |  )   |  ]   | Ctrl    | NAV     |  | R SHIFT | R SHIFT |  K   |  M    |  ,    |  .   |   /   | End  |
//                     | C_PP  | GUI | TAB  |  SPACE  |   LSHIFT  |  |   RET   |  SPACE  | BSPC  | RALT  | BT_NXT |
			bindings = <
	&kp ESC   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PERCENT                                                &kp CARET &kp AMPS  &kp ASTRK     &kp UNDER   &kp SEMI    &kp BSLH
	&kp TAB   &kp GRAVE &kp TILDE &kp LBRC &kp LPAR &kp LBKT                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp LT &kp GT &kp RBRC &kp RPAR &kp RBKT &kp LCTRL &tog NAV_LAYER        &kp RSHFT &kp RSHFT &kp K &kp M  &kp COMMA &kp DOT &kp FSLH &kp END
	                 &kp C_PP &kp LGUI &lt SYMBOL_LAYER TAB &kp SPACE &td0        &kp RET  &kp SPACE  &kp BSPC &kp RALT &kp BT_NXT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
		NAV_LAYER {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                                          |  6   |  7    |  8    |  9   |   0   |   \  |
// |  TAB  |  `  |  ~  |  {   |  (   |  [   |                                          |  :   |  LEFT |  UP   |RIGHT |   ;   | Home |
// | SHIFT |  <  |  >  |  }   |  )   |  ]   | L SHIFT | NAV     |  | L SHIFT | L SHIFT |  |   |  -    |  DOWN |  +   |   /   | End  |
//                     | C_PP  | GUI  | RET  |  SPACE  |   Ctrl  |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp LEFT  &kp UP     &kp RIGHT   &kp SEMI &kp HOME
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LCTRL &tog NAV_LAYER        &kp LSHFT &kp LSHFT &kp N &kp M  &kp DOWN &kp DOT &kp FSLH &kp END
	                 &kp C_PP &kp LGUI &lt SYMBOL_LAYER TAB &kp SPACE &td0        &kp RET  &kp SPACE  &kp BSPC &kp RALT &kp BT_NXT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
